@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.woff2') format('woff2'),
        url('Poppins-Medium.woff') format('woff');
    font-weight: 600;
}
@font-face {
    font-family: 'Dancing Script';
    src: url('DancingScript-Regular.woff2') format('woff2'),
        url('DancingScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.main{
    text-align: center;
    width: 100%;
    height: 300px;
}

.main h2{
    color: #fff;
    font-size: 36px;
    font-family: 'poppins';
}

.main h2 span{
    color: #FF014F;
    font-family: 'Dancing Script';
    font-size: 46px;
}

.blogs{
    max-width: 1350px;
    width: 100%;
    padding: 40px 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

